.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header, .App-footer {
  background-color: #105160;
  color: white;
}

.App-header {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.App-main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}


#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  filter: grayscale(100%);
  opacity: 60%;
}

.App-footer {
  min-height: 5vh;
  font-size: 10px;
  margin: 0;
  padding-top: 1vh;
}

.App-header.h1 {
  font-size: 40px;
}

#pageTitle {
  font-size: 80px;
}

p {
  margin:0 !important;
  margin-bottom: 0rem !important;
  margin-block-start: 0rem !important;
  margin-block-end: 0rem !important;
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
}

.App-link {
  color: #61dafb;
}

#entry-form {
  color: white;
  min-width: 50%;
}

.form-row {
  min-height: 20vh;
  margin: 0;
}

.current-location {
  align-items: none;
}

.split-half-1-2{
  justify-content: right;
  padding: 2 0;
  vertical-align: unset;
}

.split-half-2-2{
  justify-content: left;
  padding: 2 0;
  vertical-align: unset;
}

#current-location-but {
  color: white;
  background-color: #105160;
  border-color: #2D7670;
  width: 50%;
  height: 80%;
  font-size: 1.75rem;
}

@media (max-width: 479px) {
  #current-location-but {
      width: 100%;
  }
}

button#city-search-but {
  color: white;
  display: block;
  background-color: #105160;
  border-color: #2D7670;
  width: 100%;
  height: 80%;
  font-size: 1.75rem;
  margin: 0;
  margin-bottom: 0 !important;
}

#inlineFormInput {
  font-size: 1.75rem;
  padding: 6px 12px;
  border-color: #2D7670;
  display: block;
}